
.ipynb_checkpoints/requirements-checkpoint.txt
.ipynb_checkpoints/Diamond-IR-checkpoint.ipynb
.ipynb_checkpoints/HPHT IIa diamond spectrum normalized-checkpoint.dat
.ipynb_checkpoints/LICENSE-checkpoint
.DS_Store
